<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> <button>another Sad Final for India</button></h1>
        <h2> Our Game was very Easy and Less Pressure to achieve the Target......</h2>
        <h4>This Entire Tournament Virat Performance was Phenomenal.... Definetly all cricket fans are like Kohli's batting</h4>
        <a href="{% url 'india' %}">Click here To get Response of India</a>

    </center>
</body>
</html>