<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><marquee> Good Game But Bad Luck Champions....</marquee></h1>
        <h1>We Believe our Champions... Believe In Blue</h1>
        <h2>But Happy to see our Players Performance</h2>
        <h3>Hopefully we will have the next worldcup</h3>

        <a href="{% url 'india' %}">Click here To get Response of Indian Team</a>
        
    </center>
</body>
</html>
