<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><marquee>Congrats to Aussies for Won 6th World Champions</marquee></h1>
        <h2>Good Captaincy From Pat Cummins.....</h2>
        <h3>Travis Head played One of The Best knock in Worldcup Final match</h3>

        <h4><a href="{% url 'indfans' %}">Click here To get Response of Indian Fans</a></h4>
        <h4><a href="{% url 'aus' %}">Click here To get Response of Aus</a></h4>
    </center>
</body>
</html>